body {
    background-color: #fefefe;
    zoom: 150%;
}

.header{
    display: flex; 
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    height: 200px;
    width: 100%;
    background-color: #1abc9c;
    flex-wrap:wrap;
    text-align: center;
    color: #fefefe;
}

.header *{
    color: white;    
    margin: 0.5em;
}

/*MENU NAVEGACION SUPERIOR*/
.nav-menu{
    justify-content: left;
    align-items: center;
    background-color: #333333;
    padding: 1em;
}

.nav-menu a{
    color:#fefefe;
    text-decoration: none;
    margin: 1em;
}

.nav-menu a:hover {
    color: black;
    background-color: #ddd;
}

/*CONTENIDO PRINCIPAL*/
.contenedor {
    display: flex;
    flex-direction: row;
    margin: 0;
}

.contenidoLateral {
    width: 30%;
    background-color: #f1f1f1;
    padding: 1em;
}

.contenidoLateral img{
    margin: 0.5em;
}

.contenedorCentral {
    width: 70%;
    padding: 1em;
}

.contenidoCentral {
    width: 100%;
}

.footer {
    background-color: #faebd7;
    width: 100%;
    height: 6em;
    display: flex; 
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    color: black;
}

img{
    object-fit: contain;
    max-width: 100%;
}

@media (max-width: 700px) {

    .contenedor {
        flex-direction: column;
    }

    .contenidoLateral, .contenedorCentral {
        width: 100%;
    }
};
    
