.grid-container {
    display: grid;
    grid-template-columns: 150px 1fr minmax(100px, 200px);
    grid-gap: 10px;
}

.grid-container div {
    background-color: brown;
    padding: 20px;
    color: white;
    text-align: center;
}
